    <!--INDUSTRY DESCRIPTION -->
    <div class="container desc">
      <div class="row">
              <div class="col-lg-2 col-lg-offset-0">
                  <h5>INDUSTRY</h5>
              </div><br/><br/>
              <div class="col-lg-10">
                  <div class="row">
                      <div class="col-sm-3 col-sm-offset-1">
                          <p><img class="img-responsive" src="../assets/images/snap.png" alt=""></p>
                          <p class="text-center">Research Intern <br/> Summer 2021</p>
                      </div>
                  </div>
              </div>
      </div><!--/.row -->
      <br/>
      <hr>
  </div><!--/.container -->